<!-- Where all the magic happens -->
<!-- LOGIN FORM -->
<div class="login-container">

    <div class="text-center padding-50">
        <div class="logo">login</div>
        <div class="login-form-1">
            <div ng-if="(myForm.$invalid && myForm.$submitted) || model.error" class="alert alert-danger alert-dismissible">
                <label>There are errors in the form {{model.error}}</label>
            </div>

            <div ng-if="model.error" class="alert alert-danger alert-dismissible">
                <label>{{model.error}}</label>
            </div>

            <form id="login-form" class="text-left" name="myForm" novalidate ng-class="{'submitted': submitted}">
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">

                        <div class="form-group inner-addon left-addon">
                            <label for="lg_username" class="sr-only"></label>
                            <i class="fa fa-user glyphicon" aria-hidden="true"></i>
                            <input ng-model="username" type="text" class="form-control lowercase" id="lg_username"
                                   name="lg_username" placeholder="username" required autofocus
                                   autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                        </div>
                        <span ng-show="myForm.$submitted && myForm.lg_username.$error.required" class="help-block">
                             Please enter a username
                        </span>

                        <div class="form-group inner-addon left-addon">
                            <label for="lg_password" class="sr-only">Password</label>
                            <i class="fa fa-key glyphicon" aria-hidden="true"></i>
                            <input ng-model="password" type="password" class="form-control" id="lg_password"
                                   name="lg_password" placeholder="password" required autofocus>
                        </div>

                        <span ng-show="myForm.$submitted && myForm.lg_password.$error.required" class="help-block">
                            Please enter a Password
                        </span>

                        <div class="form-group login-group-checkbox">
                            <input type="checkbox" id="lg_remember" name="lg_remember">
                            <label for="lg_remember">remember</label>
                        </div>
                    </div>
                    <button ng-click="myForm.$valid && model.login(username, password)" type="submit" class="btn login-button"><i
                            class="fa fa-chevron-right"></i></button>
                </div>
                <div class="etc-login-form">
                    <p>new user? <a ui-sref="register">create new account</a></p>
                    <!--<p>Free user? <a ui-sref="dashboard({ uid: 'guest' })">Free Browse</a></p>-->

                    <p>Free user? <a class="btn" ng-click="model.loginAsGuest()">Free Browse</a></p>
                </div>
                <a href="/auth/linkedin" class="btn btn-primary btn-block">
                    <span class="fa fa-linkedin"></span>
                    Login with Linkedin
                </a>
            </form>
        </div>
        <!-- end:Main Form -->
    </div>
</div>