.trans {
    transition: -webkit-transform 0.25s ease;
}

.trans:active {
    -webkit-transform: scale(2);
}

ul.socialNetwork {
    padding: 0;
    display: block;
    margin-bottom: 0;
}

ul.socialNetwork li {
    display: inline-block;
    list-style-type: none;
    margin-top: 0.8em;
    padding: 5px;
}

#footerRights{
    padding: 5px;
}

a#contact{
    -webkit-transition: all 2s ease;
}