.home{
    /*display: inline-block;*/
    position: relative;
    padding-left: 30%;
    padding-right: 30%;
    align-self: center;
}

.circle-text {
    width:250px;
    margin: 5%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 250px;
    height:250px;
    padding-bottom: 100%;
    background: #4679BD;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1.5em;
    margin-top:-0.5em;
    text-align:center;
    font-size: 1.4em;
    color:white;
}
@media screen and (max-width: 768px) {

    .circle-text {
        width: 250px;
        margin: 10%;
    }

    .home {
        display: inline-block;
        position: relative;
        padding: 0;
        align-self: center;
    }
}

.menu{
    background-color: #ffffff;
    height: 100%;
}

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.toggle-header{
    padding:10px 0;
    margin:10px 0;
    background-color:black;
    color:white;
}
.txt-green{
    color:green;
}
.txt-red{
    color:red;
}




