<div class="col-md-12">
    <div class="col-md-2">
        <div class="col-md-12">
            <h2>Track Jobs</h2>
        </div>
        <!--<a ng-click="model.displaymap()" class="btn btn-primary btn-block">Map View</a><br/>-->
        <!--<a ng-click="model.displaytree()" class="btn btn-primary btn-block">Tree View</a>-->
        <div class="col-md-12">
            <a ui-sref=".map" class="btn btn-primary btn-block">Map View</a>
        </div>
        <div class="col-md-12">
            <a ui-sref=".tree" class="btn btn-danger btn-block">Tree View</a>
        </div>

    </div>
    <div class="col-md-10" style="border: solid 0.5px" ui-view></div>
</div>

