<div class="applyjob">
    <!--{{model.job}}-->
    <div ng-if="(myForm.$invalid && myForm.$submitted) || model.error" class="alert alert-danger alert-dismissible">
        <label>There are errors in the form {{model.error}}</label>
    </div>
    <div class="text-center">
        <a ui-sref="jobs"> <span class="fa fa-chevron-left fa-lg pull-left blue"></span></a>
        <strong>Edit Job</strong>
        <button form="edit-job" type=submit ng-click="myForm.$valid && model.updateJob(model.job)"
           class="fa fa-check pull-right blue fa-lg mysubmit">
        </button>
    </div>

    <form id="edit-job" class="text-left" name="myForm" novalidate ng-class="{'submitted': submitted}">

    <div class="form-group">
        <label for="title">Job Title</label>
        <input ng-model="model.job.title"
               type="text"
               class="form-control"
               id="title"
               name="title"
               required
               placeholder="Job Title">
        <span ng-show="myForm.$submitted && myForm.title.$error.required" class="help-block">
             Please enter a Job Title
        </span>
    </div>
    <div class="form-group">
        <label for="desc">Description</label>
                <textarea ng-model="model.job.desc"
                          rows="4"
                          id="desc"
                          class="form-control"
                          placeholder="Description"></textarea>
    </div>

    <div class="form-group">
        <label for="dept">Location</label>
        <input ng-model="model.job.location"
               rows="4"
               id="location"
               required
               name="location"
               class="form-control"
               placeholder="Location"/>

        <span ng-show="myForm.$submitted && myForm.location.$error.required" class="help-block">
             Please enter a Location
        </span>
    </div>

    <div class="form-group">
        <label for="dept">City</label>
        <input ng-model="model.job.city"
               id="city"
               class="form-control"
               name="city"
               required
               placeholder="City"/>
        <span ng-show="myForm.$submitted && myForm.city.$error.required" class="help-block">
             Please enter a City
        </span>
    </div>

    <!--<div class="form-group">-->
        <!--<label for="state">State</label>-->
        <!--<input ng-model="model.job.state"-->
               <!--rows="4"-->
               <!--id="state"-->
               <!--class="form-control"-->
               <!--placeholder="Description"/>-->
    <!--</div>-->

    <div class="form-group">
        <label for="state">State</label>
        <select id="state" class="form-control" name="state" required
                ng-model="model.selectedState"
                ng-options="state.name for state in model.states"
        >
        </select>
        <span ng-show="myForm.$submitted && myForm.state.$error.required" class="help-block">
             Please select a State
        </span>
    </div>

    <div class="form-group">
        <label for="dept">Industry</label>
        <input ng-model="model.job.dept"
               id="dept"
               class="form-control"
               placeholder="Industry/Department"/>
    </div>

    <div class="form-group">
        <div class="row">
            <label for="dept">Skills</label>
            <a class="btn glyphicon glyphicon-plus"
                 ng-click="model.addNewChoice()"></a>
        </div>
        <div class="row">
            <div class="skill-input" ng-repeat="choice in model.choices">
                <input type="text"
                       name="choice"
                       class="form-control"
                       ng-model="choice.name"
                       placeholder="">
                <div class="col-md-1">
                    <a class="glyphicon glyphicon-minus" ng-show="$last"
                       ng-click="model.removeChoice()"
                    ></a>
                </div>
            </div>

            <!--<span ng-show="myForm.$submitted && myForm.name.$error.required" class="help-block">-->
             <!--Please enter Skills-->
            <!--</span>-->
        </div>

    </div>
    <div>
        <button ng-click="myForm.$valid && model.updateJob(model.job)"
                type="submit"
                class="btn btn-success submit">Update</button>
        <button ui-sref="jobs" class="btn btn-warning submit">Cancel</button>
        <button ng-click="model.deleteJob(model.job)"
                class="btn btn-danger submit">Remove</button>
    </div>

    </form>
</div>
