<div class="jobstable">
    <div ng-show="model.role == 'company'">
        <a class="pull-right btn glyphicon glyphicon-plus" ui-sref="newJob"></a>
    </div>
    <div ng-show="model.role=='guest'" >
        <button class="pull-right btn btn-success" ui-sref="register">Register</button>
    </div>
    <h1>Jobs</h1>


    <div ng-if="model.register" class="alert alert-danger alert-dismissible">
        {{model.register}}
    </div>

    <div ng-repeat="job in model.jobs">
    <div class="panel panel-default">
        <div class="panel-heading">

            <!-- edit for company -->
            <div ng-show="model.role == 'company'">
                <a ui-sref="editJob({ jid : {{job.jid}} })"
                   class="pull-right spl-margin-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
            <h3 class="panel-title">{{job.cname}}</h3>
        </div>
        <div class="panel-body">
            <a ui-sref="jobsSpecific({ jid : {{job.jid}} })"
               class="pull-right">
                <span class="glyphicon glyphicon-play"></span>
            </a>



            <p>{{job.title}}</p>
            <p>Desc for Job ID: {{job.jid}}</p>
            <p class="summary">{{job.desc}}</p>
            <div class="span4" ng-repeat="item in job.skills">{{item}}</div>
        </div>
    </div>


</div></div>