<!--JID: {{model.jobId}}-->
<!--UID : {{model.userId}}-->
<!--user : {{model.role}}-->
<!--applied : {{model.applied}}-->
<div class="card card-block">
    <div class="mapview">
        <div class="row">

            <div class="col-md-12">
                <div class="row">
                    <a ui-sref="jobs"><i class="blue fa fa-chevron-left fa-lg padding-margin-float-left"
                                         aria-hidden="true"></i></a>
                </div>
                <div class="row card-title">
                    <h4>{{model.application.title}}</h4>
                </div>
                <div class="row card-subtitle text-muted">
                    <h4><i class="fa fa-building" aria-hidden="true"></i> {{model.application.cname}}</h4>
                </div>
                <div ng-if="model.role == 'company'">
                    <a ui-sref="tree({ jid: '{{model.jobId}}' })" class="btn btn-primary btn-sm">Find Who has applied to
                        this
                        job?</a>
                </div>
                <div ng-if="model.role == 'user'" class="row">

                    <a ng-model="model.applied" ng-if="model.applied == true" ng-change="model.applied"
                       class="btn btn-success btn-sm"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        Applied</a>
                    <a ng-if="model.applied == false || model.applied == '' || angular.isObject(model.applied)"
                       ui-sref="apply({ jid: '{{model.jobId}}' })"
                       class="btn btn-primary btn-sm">Apply</a>
                    <a ng-if="model.savedJob != true"
                       ng-click="model.saveJob()"
                       class="btn btn-primary btn-success btn-sm">Save</a>
                    <a ng-if="model.savedJob == true"
                       ng-click="model.unsaveJob()"
                       class="btn btn-primary btn-warning btn-sm">Saved</a>
                </div>
                <div class="row">
                    <div class="col-md-7 card-text">
                        <h4 class=""><i class="fa fa-info-circle" aria-hidden="true"></i> Job description</h4>
                        <p class="card-text">{{model.application.desc}}</p>
                    </div>
                    <div class="col-md-5 card-text">
                        <h4><i class="fa fa-adjust" aria-hidden="true"></i> Skills set</h4>
                        <span ng-repeat="skill in model.application.skills"> {{skill}}</span>
                    </div>
                </div>
                <div class="row" ng-if="model.role == 'user'">
                    <div class="row">
                        <h4 class="card-title">How you compare to the competition?</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-7 card-text">
                            <label class="circle-text-sm">
                                <div>{{model.match.percent}} % Skills Match</div>
                            </label>
                            <label class="circle-text-sm">
                                <div>{{model.match.locationMatch}} % Location Match</div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <p class="text-center"><span class="badge">{{model.match.value}}</span> out of <span
                                class="badge">{{model.application.skills.length}}</span>
                            skills are matching</p>
                    </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row card card-block" ng-if="model.userId == 'guest'">
            <div class="col-md-4">
                <h4>How you compare to the competition</h4>
                <h3>Welcome {{model.userId}}</h3>
                For more access <label class="label label-primary"><i class="fa fa-hand-o-right glyphicon"
                                                                      aria-hidden="true"></i><a
                    ui-sref="register"> Register</a></label> and Join us!
            </div>
        </div>
        <div class="row card card-block">
            <div class="col-md-7">
                <div id="usaMap" class="col-md-8" ng-controller="mapController">
                    <h4 class="text-center">Distribution of Location</h4>
                    <svg>
                    </svg>
                    <my-map land="land" boundary="boundary" shortnameidmap="shortnameidmap"
                            idnamemap="idnamemap"
                            jobid="jobId">
                    </my-map>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <h4 class="text-center">Skillset of People Applying</h4>
                    <div class="col-md-8" id="regionDiv1" ng-controller="donutChartController">
                        <region-chart id="regionDiv1" data="chart1.value">
                        </region-chart>
                    </div>
                </div>
                <div class="row">
                    <h4 class="text-center">Different Degrees Levels of People</h4>
                    <div class="col-md-8" id="regionDiv" ng-controller="donutChartController">
                        <region-chart id="regionDiv" data="chart.value">
                        </region-chart>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 jobview" ui-view=""></div>

</div>

