<div class="treeview">
    <div class="row">
        <div class="col-md-9" id="treeLayout">
            <h1>Application ID - {{model.jobId}}</h1>
            <tree-graph treedata="model.treeData">
            </tree-graph>
        </div>
        <div class="col-md-3">
            <label>State : </label>
            <select ng-model="model.selected"
                    ng-options="s.name for s in model.states"
                    ng-change="model.selectcity(model.selected)"
                    ng-style="{'width': model.getMaxLength() + 'px'}"
                    class="form-control">
                <option value="">---Please select---</option>
            </select>
            <label>City : </label>
            <select ng-model="model.selectedCity"
                    ng-options="c.name for c in model.cities track by c.name"
                    ng-change="model.selectUniv(model.selectedCity)"
                    ng-style="{'width': model.getMaxLength() + 'px'}"
                    class="form-control">
                <option value="">---Please select---</option>
            </select>
            <label>College : </label>
            <select ng-model="model.selectedUniv"
                    ng-options="univ.name for univ in model.univs track by univ.name"
                    ng-style="{'width': model.getMaxLength() + 'px'}"
                    class="form-control">
                <option value="">---Please select---</option>
            </select>
            <br/>
            <div class="btn btn-primary"
                 ng-click="model.submit(model.selected, model.selectedCity, model.selectedUniv)">Search</div>
        </div>
        <div class="col-md-3">
            <h3>Applicants List</h3>
            <div class="list-group">
                <a class="list-group-item" ng-repeat="applicant in model.applicantsData"
                   ui-sref="userprofile({ userid: applicant.userId })">
                    <h4>{{applicant.name}}</h4>
                    <p>{{applicant.university}}</p>
                </a>
            </div>
        </div>
    </div>
</div>